* {
  box-sizing: border-box;
}

.error {
  color: red;
}

body {
  margin: 0;
  background: hsl(36, 16%, 94%);
  background-image: url(school.png) ;
  background-blend-mode: luminosity;
}

body, input, button {
  font-family: "Open Sans", sans-serif;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

input, button {
  border: none;
  padding: 12px 26px;
  font-size: 1.1rem;
  outline: none;
}

input {
  background: hsla(0, 0%, 96%, 1);
  border-right: none;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding-right: 16px;
  color: #747474;
}

input:hover, input:focus {
  background: hsla(0, 0%, 92%, 1);
  transition: ease;
  transition-duration: 150ms;
}

button {
  border-left: none;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background: #E88B08;
  color: white;
  cursor: pointer;
}

button:hover {
  background: hsl(35, 93%, 56%);
  transition: ease;
  transition-duration: 150ms;
}

.top-results {
  width: 100%;
  margin: 5vh auto;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0px 0px 10px #f2f2f2;}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  width: 100vw;
  position: relative;
  list-style: none;
}

.book {
  max-width: 400px;
  width: 400px;
  height: 210px;
  height: 175px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin: 20px auto;
  margin-top: 0;
  border: 3px solid hsl(0, 0%, 96%);
  border-radius: 25px;
  background: hsl(0, 0%, 96%);
  overflow: hidden;
  transition: 150ms ease;
}

.book:hover {
  border-color: #E88B08;
  transition: 150ms ease;
}

.book:hover .info, .book {
  width: 400px;
  transition: 500ms ease;
}

a {
  text-decoration: none;
  color: initial;
}

.blank {
  width: 128px;
  min-width: 128px;
  height: 100%;
  background: #fff;
  background-image: url("dn-charge.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }


.info {
  width: 400px;
  opacity: 0;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  padding: 20px 10px;
  overflow: hidden;
  background: #e4e9da;
}

.info:hover {
  opacity: 1;
  background: hsl(0, 0%, 94%);
}

h2 {
  max-width: 350px;
  min-width: 200px;
  margin: auto;
  padding: 0 10px;
  color: #6e991f;
  font-size: 1rem;
  text-align: center;
}

.info h2, .info h3, .info p {
  color: #E88B08;
  text-align: center;
}

.info h2 {
  margin-top: 0;
}

h3 {
  text-align: center;
}

h3, p {
  margin: 0;
  color: #747474;
  font-size: 1rem;
}

p {
  margin: 0;
}

@media only screen and (min-width: 768px) {

  input, button {
    padding: 22px 42px;
    font-size: 1.75rem;
  }

  .book {
    margin: 20px;
    margin-top: 0;
  }

  li {
    width: initial;
  }

  h2 {
    font-size: 1.25rem;
  }
}